
  @import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');


nav{
    background-color:#000000;
}
nav .container-fluid .navbar-brand{
    font-family: 'Charm', cursive;
    font-size: 1.4rem;
    color:white;
}
nav .container-fluid .navbar-brand{
   
    font-weight: 500;
    color:white;
    width: 0ch;
    white-space: nowrap;
    overflow: hidden;
    border-right:1px solid white ;
    transition: 0.1s;
    animation: typing 8s steps(20) infinite;
  }
  
  @keyframes typing {
    0%{
      width: 0ch;
    }
    50%{
      width: 15ch;
      transition: 0.1s;
    }
  }
  nav .container-fluid .navbar-toggler span
  {
    color: white;
    font-size: 25px;
    width: 25px;
  }
  nav .container-fluid  .offcanvas-end
  {
    background-color: rgba(0, 0, 0, 0.714);
    color: white;
  }
  nav .container-fluid  .offcanvas-end  .offcanvas-header 
  {
    color: white;
  }